/* ==========================================================================
   Custom CSS for Language and Identity
   Nabil Kashyap
   Roberto Vargas
   ========================================================================== */

span.rtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#site-footer p.copyright{
    font-size: 1.1em;
}

.page-title {
    color: $green;
}

.footnotes ol {
    list-style: $green;
}

a.footnote {

    color: $green;
    font-size: 1.3em;
}

.sliding-menu-content li{
  height: 150px;
}

.sliding-menu-content li img.teaser{
  height: 100%;
}

.sliding-menu-content .menu-item li a .excerpt-authors{
  margin-top: 0;
      margin-left: 60px;
      @include font-size(14,no);
      @include media($small) {
        margin-left: 170px;
        font-size: 0.8em;
      }
}

.title .post-teaser a:link {
  text-decoration: none;
}
 /* article.tile {
 border-bottom: 1px solid $black;
} */

.home p, 
.home hr, 
.about p, 
.about hr,
.about h4,
.about ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.home p, 
.home hr{
  font-size: 24px;
  line-height: 32px;
}

.about p, 
.about hr {
  font-size: $doc-font-size;
}

/*
modified css for post-grid images and text
*/

div.tiles {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

article.tile {
  display: block;
  height: 250px;
  width: 250px;
  margin: unset;
}

article.tile a.post-teaser {

  text-decoration: none;
  clear: both;
  float: left;
  width: 100%;

  & h2 {
    text-align: center;
  }

  &:hover h2.post-title{
    color: lighten($green,10);
    z-index: 99 !important;
  }

  &:hover {
    &:after{
      background: linear-gradient(to bottom, rgba($black,.75), rgba($white,0));
    }
  }
}

article.tile iframe {
  float: left;
}

.tile .author-name {
  font-size: 1em;
  color: lighten($text-color,25);
  min-height: 2.5em;
  text-align: center;
}