/* ==========================================================================
   Custom CSS for Language and Identity
   Nabil Kashyap
   Roberto Vargas
   ========================================================================== */

.page-lead {
  background-image: -webkit-linear-gradient(top, rgba(16, 50, 50, .8), rgba(16, 50, 50, .8)), url("../images/banner.jpg");

  h1 {
    display: inline-block;
    text-align: right;
    color: lighten($green,10);
  }

}

footer p {
  text-align: center;
}

span.rtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#site-footer p.copyright{
    font-size: 1.1em;
}

.page-title {
    color: $green;
}

.footnotes ol {
    list-style: $green;
}

a.footnote {

    color: $green;
    font-size: 1.3em;
}

.title .post-teaser a:link {
  text-decoration: none;
}

.home p, 
.home hr{
  font-size: 24px;
  line-height: 32px;
}

.inner-wrap {  
  @include media($medium){
    margin-left: 8.5%;
  }
}

.about p, 
.about hr {
  font-size: $doc-font-size;
}

/*
modified css for post-grid images and text
*/

div.tiles {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

article.tile {
  background-image: -webkit-linear-gradient(top, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7));
  height: 250px;
  width: 250px;
  margin: unset;
  margin-right: 1em;
}

article.tile a {

  height: 250px;
  width: 250px;
  background: rgba(0,0,0,.3);
}

article.tile a.post-teaser {

  text-decoration: none;
  clear: both;
  float: left;
  width: 100%;

  & h2 {
    display: block;
    padding-left: 1em;
    color: rgba(255,255,255,.75);
    background-color: rgba(0,0,0,.6);
  }

  &:hover h2.post-title{
    color: lighten($green,10);
    z-index: 99 !important;
  }

  &:hover {
    &:after{
      background: linear-gradient(to bottom, rgba($black,.75), rgba($white,0));
    }
  }
}

article.tile iframe {
  float: left;
}